@charset "UTF-8";
/* ==========================================================================
   Guss: row
   ========================================================================== */
/**
 * A row is an ensemble of 2, 3 or 4 items that are originally stacked
 * vertically on mobile and flow horizontally on higher breakpoints.
 * Examples: http://sassmeister.com/gist/7986076
 *
 * Usage 1: Sass mixin
 * @include guss-row('.classname');
 *
 * Usage 2: utility class set as `$guss-row-utility-class`
 * @include guss-row-utility;
 *
 * <div class="l-row l-row--items-<number of items contained>">
 *     <div class="l-row__item [l-row__item--boost-2]"></div>
 *     <div class="l-row__item"></div>
 *     <div class="l-row__item"></div>
 *     <div class="l-row__item [l-row__item--boost-1]"></div>
 * </div>
 *
 * --boost-n modifiers are used to add visual importance to an item.
 * Note that this applies only to browsers that support flexbox.
 */
/* ==========================================================================
   Guss: columns
   ========================================================================== */
/**
 * A "columns pattern" will fit as many "$guss-column-min-width"-wide columns
 * in any type of context: full-width container, sidebar…
 *
 * Usage 1: Sass mixin
 * @include guss-columns('.classname');
 * Examples: http://sassmeister.com/gist/35288593dc035ef645e1
 *
 * Usage 2: utility class set as `$guss-columns-utility-class`
 * @include guss-columns-utility;
 *
 * <div class="l-columns">
 *     <div class="l-columns__item"></div>
 *     <div class="l-columns__item"></div>
 *     <div class="l-columns__item"></div>
 *     <div class="l-columns__item"></div>
 *     <div class="l-columns__item"></div>
 *     <div class="l-columns__item"></div>
 *     <div class="l-columns__item"></div>
 * </div>
 *
 */
/**
 * Fieldset's `border-top` style.
 * 
 * @type List
 *
 * @requires {function} guss-colour
 */
/**
 * Text fields' `font-family`.
 * 
 * @type List
 *
 * @requires {variable} f-sans-serif-text
 */
/**
 * Text fields' `color`.
 * 
 * @type Color
 *
 * @requires {function} guss-colour
 */
/**
 * Text fields' `border-color`.
 * 
 * @type Color
 *
 * @requires {function} guss-colour
 */
/**
 * Text fields' `border-color` when field is focused.
 * 
 * @type Color
 *
 * @requires {function} guss-colour
 */
/**
 * Form error `color`.
 * 
 * @type Color
 *
 * @requires {function} guss-colour
 */
/**
 * Form error `background-color`.
 * 
 * @type Color
 */
/**
 * Form error `border-color`.
 * 
 * @type Color
 */
/**
 * Form error fields `border-color`.
 * 
 * @type Color
 *
 * @requires {variable} guss-forms-error-colour
 */
/**
 * Form success `color`.
 * 
 * @type Color
 *
 * @requires {function} guss-colour
 */
/**
 * Form success `background-color`.
 * 
 * @type Color
 */
/**
 * Form success `border-color`.
 * 
 * @type Color
 */
/**
 * Submit button `background-color`.
 * 
 * @type Color
 *
 * @requires {function} guss-colour
 */
/**
 * Submit button `background-color` when focused.
 * 
 * @type Color
 *
 * @requires {variable} guss-forms-submit-background
 */
/**
 * Submit button `background-color` when active.
 * 
 * @type Color
 *
 * @requires {function} guss-colour
 */
/**
 * Submit button `background-color` when disabled.
 * 
 * @type Color
 *
 * @requires {function} guss-colour
 */
/**
 * Fix a bug Internet Explorer 8 where text in password fields
 * would become invisible when `font-family` references a webfont.
 */
/**
 * Default form styles
 */
html {
  font-family: "Guardian Text Egyptian Web", Georgia, serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
  font-size: calc(1em * .625); }

body {
  font-size: 1.6em;
  line-height: 1.5; }
body {
  color: #333333; }

.gs-container {
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
  max-width: 114rem; }
  @media all and (min-width: 81.25em) {
    .gs-container {
      max-width: 1300px;
      max-width: 130rem; } }

.form {
  margin-top: 24px;
  margin-bottom: 24px; }

.form__heading {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 28px;
  line-height: 2.8rem;
  font-family: "Guardian Text Egyptian Web", Georgia, serif;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0; }

.form__note,
.form-field__note {
  font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  margin-bottom: 8px; }

.fieldset {
  border: 0;
  border-top: 1px solid #f1f1f1;
  display: table;
  padding: 15px 0 24px;
  margin: 0; }

@media all and (min-width: 61.25em) {
  .fieldset__heading {
    display: table-cell;
    padding-right: 100px;
    width: 220px;
    vertical-align: top; }

  .fieldset__fields {
    display: table-cell;
    vertical-align: top;
    width: 460px; } }
.form-fields-group .form-field {
  margin-bottom: 0; }

.form-field {
  list-style: none;
  margin: 0 0 24px;
  padding: 0; }

.form-field__submit .form-field__note {
  margin: 0 0 24px; }
  @media all and (min-width: 61.25em) {
    .form-field__submit .form-field__note {
      float: right;
      width: 60%;
      margin: 0; } }

.form-field--no-margin {
  margin: 0; }

.form-field--error .label {
  color: #d61d00; }
.form-field--error .text-input,
.form-field--error .text-input:focus {
  border-color: #d61d00; }

.form__error {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 18px;
  line-height: 1.8rem;
  font-family: "Guardian Agate Sans 1 Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #fdf4f3;
  border-bottom: 1px solid #ff998a;
  border-top: 1px solid #ff998a;
  color: #d61d00;
  margin-top: 6px;
  padding: 7px 8px; }

.form__success {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 18px;
  line-height: 1.8rem;
  font-family: "Guardian Agate Sans 1 Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #f3ffdf;
  border-bottom: 1px solid #adfd2e;
  border-top: 1px solid #adfd2e;
  color: #4a7801;
  margin-top: 6px;
  padding: 7px 8px; }

.form-field__error {
  color: #d61d00;
  margin-top: 6px; }

.form-field__note--below {
  margin-bottom: 0;
  margin-top: 6px; }

.form-field__note--left {
  float: left; }

.form-field__note--right {
  float: right;
  margin-left: 20px; }

.form-fields__inline ul {
  margin: 0;
  padding: 0; }
  .form-fields__inline ul .form-field {
    display: inline-block; }
.form-fields__inline .form-fields__heading {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin: 0 0 12px;
  display: block; }

.form-fields--date-of-birth .form-field {
  margin: 0 18px 0 0; }

.label {
  cursor: pointer;
  display: block;
  margin-bottom: 6px; }

.text-input,
.textarea {
  border: 1px solid gainsboro;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
  display: inline-block;
  font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 8px 8px 7px;
  font-size: 16px;
  line-height: 1.4;
  outline: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 100%;
  -webkit-appearance: none; }
  .text-input:focus,
  .textarea:focus {
    border-color: #767676; }
  @media all and (min-width: 46.25em) {
    .text-input,
    .textarea {
      font-size: 14px; } }

.textarea {
  resize: vertical; }

.textarea--no-resize {
  min-height: 80px;
  resize: none; }

.textarea--mid {
  min-height: 108px; }

.textarea--long {
  min-height: 160px; }

.submit-input {
  background: #005689;
  border: 0 none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 20px 0 0;
  min-width: 140px;
  padding: 11px 10px;
  outline: none;
  text-align: center; }
  .submit-input:hover, .submit-input:focus {
    background: #004670; }
  .submit-input:active {
    background: #333333; }

.submit-input[disabled] {
  background: #dfdfdf; }

.check-label,
.radio-label {
  display: block;
  font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  margin-bottom: 4px;
  padding-left: 20px; }

.check-label--helper {
  display: inline-block;
  vertical-align: middle; }

[type=checkbox],
[type=radio] {
  float: left;
  height: 13px;
  margin-left: -20px;
  margin-top: 2px;
  width: 13px; }

[type=password] {
  font-family: sans-serif !important; }
