@import "../bower_components/sass-mq/_mq";
@import "../bower_components/guss-css3/_css3";
@import "../bower_components/guss-rem/_rem";
@import "../bower_components/guss-grid-system/_grid-system";
@import "../bower_components/guss-layout/_row";
@import "../bower_components/guss-layout/_columns";
@import "../bower_components/guss-typography/_helpers";
@import "../bower_components/guss-typography/_font-scale";
@import "../bower_components/guss-colours/_helpers";
@import "../bower_components/guss-colours/_colours";

@import "../forms";


$c-body: guss-colour(neutral-1);

html {
    font-family: $serif;
    // Make type rendering look crisper
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    // Set baseline font size to 10px
    // This is used as a baseline for rem (root ems) values
    font-size: 62.5%;

    // For IE11 to do the math properly
    // See http://bit.ly/1g4X0bX — thanks @7studio and @dawitti
    font-size: calc(1em * .625);
}
body {
    color: $c-body;
    font-size: 1.6em; // Bump font-size back up to 16px
    line-height: 1.5;
}

@include grid-system;
